:root {
    --nav-color: hsl(210, 10%, 23%);
    --h1-size: 1.4rem;
    --h2-size: 1.2rem;
    --h3-size: 1rem;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html, body, #svelte-root {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-size: var(--h1-size);
}
